@import '../../scss/variables';

.paragraph {
  font-size: 13px;
  line-height: 1;
  font-weight: 400;
  margin: 0;

  &__error {
    color: $error-color;
  }

  &__secondary {
    color: $base-color;
  }

  &__primary {
    color: $font-color;
  }
}