$titles:
  'h1' 40px 900,
  'h2' 35px 700,
  'h3' 30px 500;

@mixin title($title-name, $title-size, $title-weight) {
  &__#{$title-name} {
    font-size: $title-size;
    font-weight: $title-weight;
  }
}

.title {
  margin: 0;
  line-height: 1.2;

  @each $name, $size, $weight in $titles {
    @include title($name, $size, $weight);
  }
}