$titles:
  'h1' 40px 900,
  'h2' 35px 700,
  'h3' 30px 500;

@mixin title($name, $size, $weight) {
  &_#{$name} {
    font-size: $size;
    font-weight: $weight;
  }
}

.title {
  margin: 0;
  line-height: 1.2;

  @each $name, $size, $weight in $titles {
    @include title($name, $size, $weight);
  }
}